/* Card components: .card-group, .cards grid, .card, .card-tag, .card-footer
   Use native nesting. Reference tokens with var(). */

/* TODO: Style the card components */

.card-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-md);

}

.card {
    background-color: color-mix(in oklch, var(--color-primary), white 60%);
    border-radius: var(--rounded);
    padding-inline: var(--space-lg);
    padding-block: var(--space-md);
    flex: 1 1 calc(var(--unit) * 50);
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: min(calc(var(--unit) * 10));

    }

    .card-tag {
        font-weight: 300;
        font-style: italic;

    }

    .card-footer {
        margin-top: auto;
        display: flex;
        gap: calc(var(--unit) * 5);
        justify-content: space-between;

        span {
            font-weight: 700;

        }

    }

}
