/* Form components: .note-form, .form-field, inputs, textarea, select
   Use native nesting. Add :focus-visible styles to all inputs. */

/* TODO: Style the form components */

:focus-visible {
    outline: none;
}

*:focus-visible {
    outline: 3px solid orange;
    outline-offset: 2px;
    border-radius: var(--rounded);
}

.study-note {
    text-align: center;
    margin-bottom: var(--space-md);

    h2 {
        text-align: center;
        margin: 0;
    }

}

.note-form {
    background-color: color-mix(in oklch, var(--color-primary), white);
    border-radius: var(--rounded);
    padding-inline: var(--space-md);
    padding-block: var(--space-lg);
    width: fit-content;
    margin-inline: auto;
    margin-block: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);

    .form-field {
        display: flex;
        align-items: flex-start;
        gap: var(--space-sm);
        align-self: stretch;

        label {
            flex-grow: 1;
            text-align: right;

        }

        :is(input, textarea, select) {
            background-color: var(--color-background);
            width: calc(var(--unit) * 50);
            max-width: calc(var(--unit) * 50);
            min-width: calc(var(--unit) * 50);
            padding-inline: var(--space-md);
            padding-block: var(--space-sm);
            border: none;
            border-radius: var(--rounded);
            font-family: var(--font), sans-serif;
            font-size: max(var(--unit) * 3);

        }

        textarea {
            field-sizing: content;
        }

    }

}

.note-form .form-field:not(:nth-of-type(2)) label {
    margin-block: auto;
}
